<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src='/socket.io/socket.io.js'></script>
  <script>
    var socket = io();

    socket.on("connectedChange", function(){
      fetch("/chatroom", {
        headers: {
          accept: "application/json"
        },
        credentials: 'include'
      }).then(function(response){
        if(!response.ok){
          console.log("Whoops! something broke: " + response.statusText);
        }
        else{
          return Promise.resolve(response);
        }
      }).then(function(response){
        return response.json();
      }).then(function(data){
        var users = data.users;
        var connUsers = document.getElementById("connected_users");
        connUsers.innerHTML = "Users:\n";
        for(var i=0;i<users.length;i++){
          if(i < (users.length -1)){
            connUsers.innerHTML += users[i] + "\n";
          }
          else{
            connUsers.innerHTML += users[i];
          }
        }
      });
    });

    function createBubble(name, message, date){
      var t = document.querySelector('#bubble');
      var clone = document.importNode(t.content, true);
      var bubble = clone.children[0];
      bubble.classList.add(name !== "<%=name%>" ? "you" : "me")
      var chatarea = document.getElementById("chat");
      chatarea.appendChild(clone);
      return bubble;
    }

    socket.on("newMessage", function(){
      fetch("/chatroom", {
        headers: {
          accept: "application/json"
        },
        credentials: 'include'
      }).then(function(response){
        if(!response.ok){
          console.log("Whoops! something broke: " + response.statusText);
        }
        else{
          return Promise.resolve(response);
        }
      }).then(function(response){
        return response.json();
      }).then(function(data){
        var messages = data.messages;
        var names = data.names;
        var dates = data.dates;
        var chatarea = document.getElementById("chat");
        chatarea.innerHTML = "";
        var currname = names[0];
        var currbubble = createBubble(names[0], messages[0], dates[0]);
        for(var i=0;i<messages.length;i++){
          if(currname !== names[i]){
            currbubble = createBubble(names[i], messages[i], dates[i]);
          }
          var t = document.querySelector('#message');
          var clone = document.importNode(t.content, true);
          var spans = clone.querySelectorAll("span");
          spans[0].innerHTML = names[i];
          spans[1].innerHTML = messages[i];
          spans[2].innerHTML = dates[i];
          currbubble.appendChild(clone);
          currname = names[i];
        }
        setTimeout(function(){
          var textarea = document.getElementById("chat");
          textarea.scrollTop = textarea.scrollHeight;
        }, 10) // Attempt to stick to the most recent message to prevent the user from being thrown back to the top each time a new message is sent
      })
      if (!("Notification" in window)){
        alert("This browser does not support desktop notifications");
      }
      else if (Notification.permission === "granted"){
        var notification = new Notification("New Message!");
      }
      else if (Notification.permission !== "denied"){
        Notification.requestPermission(function(permission){
          if (permission === "granted"){
            var notification = new Notification("New Message!");
          }
        })
      }
    });

    document.addEventListener("DOMContentLoaded", function(event){
      document.getElementById("sign_out1").addEventListener("click", function(event){
        window.location = "/logout";
      });
      document.getElementById("sign_out2").addEventListener("click", function(event){
        window.location = "/logout";
      });
      var textarea = document.getElementById("chat");
      textarea.scrollTop = textarea.scrollHeight;
      var chatform = document.getElementById("chatroom");
      chatform.addEventListener("submit", function(event){
        event.preventDefault();
        fetch("/chatroom", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          credentials: 'include',
          body: JSON.stringify({message: chatform["message"].value})
        }).then(function(response){
          chatform["message"].value = "";
        })
      })
    });
  </script>
  <style>
    form{
      margin: 0 auto;
      width: 700px;
      padding: 1em;
      border: 1px solid #CCC;
      border-radius: 1em;
      background-color: #D0DDFF;
    }

    form div + div{
      margin-top: .5em;
    }

    label{
      display: inline-block;
      width: auto;
      text-align: left;
      font: 1em sans-serif;
    }

    input, textarea{
      font: 1em sans-serif;
      width: 700px;
      box-sizing: border-box;
      border: 1px solid #999;
    }

    textarea{
      resize: none;
      color: #000000;
      background-color: #F0FFFF;
    }

    #mobile {
      display: none;
    }

    @media only screen and (max-width: 768px) {
      #connected_users {
        display: none;
      }

      #mobile {
        display: block;
      }

      #desktop {
        display: none;
      }

      #chatroom {
        width: 100%;
        padding: 0.1em;
        border-radius: 0em;
      }

      #chat {
        width: 100%;
      }

      #message_box {
        width: 70%;
        font-size: 125%;
      }

      #send {
        width: 25%;
        font-size: 100%;
      }

      #sign_out {
        width: auto;
        font-size: 100%;
      }
    }

    #connected_users{
      height: 5em;
      width: auto;
      margin-left: 14.5em;
    }

    input:focus{
      border-color: #000;
    }

    button{
      margin-left: .1em;
      font: 1em sans-serif;
    }

    .chat {
      width: 700px;
      height: 500px;
      overflow-y: scroll;
      background-color: #F0FFFF;
      padding-bottom: 1em;
    }

    .bubble{
      background-color: #F2F2F2;
      border-radius: 5px;
      box-shadow: 0 0 6px #B2B2B2;
      display: inline-block;
      padding: 10px 18px;
      position: relative;
      vertical-align: top;
    }

    .bubble::before {
      background-color: #F2F2F2;
      content: "\00a0";
      display: block;
      height: 16px;
      position: absolute;
      top: 11px;
      transform:             rotate( 29deg ) skew( -35deg );
          -moz-transform:    rotate( 29deg ) skew( -35deg );
          -ms-transform:     rotate( 29deg ) skew( -35deg );
          -o-transform:      rotate( 29deg ) skew( -35deg );
          -webkit-transform: rotate( 29deg ) skew( -35deg );
      width:  20px;
    }

    .me {
      float: right;
      margin: 5px 45px 5px 20px;
      clear: both;
      background-color: #2273e5;
      color: #FFFFFF;
    }

    .me::before {
      right: -9px;
      background-color: #2273e5;
    }

    .me + .me {
      margin-top: 0px;
      margin-bottom: 0px;
      width: 200px;
      border-radius: 0px;
    }

    .name {
      display: block;
    }

    .bubble div + div .name {
      display: none;
    }

    .me + .me:last-child{
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .you {
      float: left;
      margin: 5px 20px 5px 45px;
      clear: both;
      background-color: #97e522;
    }

    .you::before {
      left: -9px;
      background-color: #97e522;
    }
  </style>
</head>
<body>
  <template id="bubble">
    <div class="bubble ">
    </div>
  </template>
  <template id="message">
    <div>
      <span class="name">
      </span>
      <span class="message">
      </span>
      <span class="date">
      </span>
    </div>
  </template>
  <form method="post" id="chatroom" autocomplete="off">
    <div id="mobile">
      <div>
        <label>Hello <%=name%>!</label><button type="button" id="sign_out1">Sign out</button>
      </div>
    </div>
    <div class="chat" id="chat">
      <%
        var currname = names[0]
        %>
        <div class="bubble <%=( names[0] !== name ) ? 'you' : 'me'%>">
        <%
        for(var i=0;i<messages.length;i++) {
          if(names[i] !== currname){
            %>
            </div>
            <div class="bubble <%=( names[i] !== name ) ? 'you' : 'me'%>">
              <%
            currname = names[i]
          }
          %>
          <div>
            <span class="name"><%=names[i]%></span>
            <span class="message"><%=messages[i]%></span>
            <span class="date"><%=dates[i]%></span>
          </div>
          <%
        }
        if(names.length > 0){
          %>
          </div>
          <%
        }
      %>
    </div>
    <div>
      <input type="text" id="message_box" name="message" autofocus="true"><button type="submit" id="send">Send message</button>
    </div>
    <div id="desktop">
      <div>
        <label>Hello <%=name%>!</label>
      </div>
      <button type="button" id="sign_out2">Sign out</button>
    </div>
    <textarea id="connected_users" name="users_display" wrap="soft" disabled="true">Users:<%for(var i=0; i<users.length; i++) {%>
<%=users[i]%><%} %></textarea>
  </form>
</body>
</html>
